<div class="mt-5">
    <div align="center">
        <% @talks.each do |talk| %>
            <p><%= "#{talk.title}" %></p>
            <iframe width="560" height="315" src="<%=talk.url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <% end %>
    </div>
    <div class="pagination justify-content-center">
        <%= paginate @talks %>
    </div>
</div>