@import "bootstrap/scss/bootstrap";

main {
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.container-login {
  @extend .container-fluid;
  max-width: 350px;
  padding: 1rem;
}

nav {
  padding: 8px;
  text-align: center;
}

nav a{
  font-size: 18px;
}

.navbar-nav .nav-link{
  color: white;
  margin: 0 7px;
}

nav #log{
  font-size: 30px;
  margin-right: 60px;
  color: white;
}

nav .dropdown-item{
  color: #007bff;
}

.aws_text {
  font-size: 17px;
}

.aws_text h2{
  font-size: 30px;
  text-align: center;
  margin: 20px 0 10px 0px;
}

.questions h3{
  font-size: 22px;
}

.questions  p{
  color: #BBBBBB;
}

.questions a {
  background: white;
  color: black;
  transition: all .5s;
  border: solid 2px black;
  border-radius: 10px;
  margin: 25px 0;
  text-decoration: none;
  padding: 20px;
  text-align: left;
  width: 100%;
}

.questions a:hover {
  transform: translateY(-2px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  opacity: 0.7;
}
