@import "bootstrap/scss/bootstrap";

main {
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

nav {
  padding: 8px;
  text-align: center;
}

nav a{
  font-size: 18px;
}

.navbar-nav .nav-link{
  color: white;
  margin: 0 7px;
}

nav #log{
  font-size: 30px;
  margin-right: 60px;
  color: white;
}

nav .dropdown-item{
  color: #007bff;
}
