@import "bootstrap/scss/bootstrap";

main {
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.container-login {
  @extend .container-fluid;
  max-width: 350px;
  padding: 1rem;
}