<div class="aws_text">
<h2>AWS講座</h2>
<p>注意！！！：AWSのEC2やRDSは有料サービスとなります。無駄な料金を請求されないためにも、不要なインスタンスは停止・削除をしてください。</p>

<table class="table table-striped">
  <thead>
    <tr style="background-color:#5D99FF;">
      <th scope="col" style="color:white">No.</th>
      <th scope="col" style="color:white"><%= link_to "内容" , admin_aws_text_path(@aws_text.id) %></th>
    </tr>
  </thead>
  <tbody>
    <% @aws_texts.each.with_index(1) do |text,index| %>
      <tr>
        <td scope="row"><%= index %></td>
        <td><a href="#"><%= text.title %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
