<div class="text">
  <h3 class="text-center">テキスト教材</h3>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="テキスト入力欄">
    <span class="input-group-btn">
      <button type="button" class="btn btn-default"></button>
    </span>
  </div>
<div class="container">
  <div class="row">
    <div class="card-deck">
      <div class="col-md-4">
        <% @texts.each do |text| %>
          <a href="/texts/<%= text.id %>" class="btn text_content">
            <div class="card">
              <img class="card-img" src="/assets/no_image.jpeg" ait="サンプル画像">
              <div class="card-body">
                <h4 class="card-title"><%= "#{text.title}" %></h4>
                <p class="card-text"><%= "【#{text.genre}】" %></p>
              </div>
            </div>
          <% end %>
        </a>
      </div>
    </div>
  </div>
</div>
