<% if model.errors.any? %>
  <div class="alert alert-warning">
    <h4>入力した内容にエラーが<%= model.errors.count %>件あります</h4>
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
