<footer class = "footer" style="background-color:<%= nav_color %>">
  <a class = "text-white" target= "brank" rel ="noopener" href="https://utina.yoshitokamizato.com/">ブログ</a>
  <a class = "text-white" target= "brank" rel ="noopener" href="https://www.youtube.com/channel/UCwrDvYey9uKGBeh_l5IF-ag">Youtube</a>
</footer>
