<nav class="navbar navbar-expand-lg " style="background-color:#5D99FF;">
  <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
    <a class="navbar-brand" id="log" href="#">Gyakuten</a>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" id="item" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Rails
       </a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
         <%= link_to "動画教材", root_path, class: "dropdown-item" %>
         <a class="dropdown-item" href="#">テキスト教材</a>
         <a class="dropdown-item" href="#">ライブコーディング</a>
         <a class="dropdown-item" href="#">質問集</a>
       </div>
     </li>
     <li class="nav-item">
       <a class="nav-link"  href="#">AWS講座</a>
     </li>
     <li class="nav-item">
       <a class="nav-link"  href="#">PHP講座</a>
     </li>
     <li class="nav-item">
       <a class="nav-link"  href="#">対談</a>
     </li>
     <li class="nav-item">
       <a class="nav-link"  href="#">情報発信</a>
     </li>
     <li class="nav-item">
       <a class="nav-link"  href="#">動画編集講座</a>
     </li>
     <li class="nav-item">
       <a class="nav-link"  href="#">ライティング講座</a>
     </li>
     <li class="nav-item">
       <a class="nav-link"  href="#">LINE＠</a>
     </li>
     <li class="nav-item">
       <%= link_to "ログアウト",  destroy_user_session_path, method: :delete, class: "nav-link" %>
     </li>
      <li class="nav-item">
        <%= link_to "新規登録",  new_user_registration_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ログイン",   new_user_session_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>
